.dot {
  color: var(--view-fg-color);
}

.dot-popover {
  background-color: var(--popover-bg-color);
  box-shadow: none;
}

.pitch {
  color: var(--card-shade-color);
  background-color: var(--view-bg-color);
}
